---
import Layout from '../layouts/Layout.astro';
---

<Layout meta={{ ignore: true }} title="404 | Troy Chryssos" useQuestionman>
  <div class="flex flex-col items-center gap-4">
    <h1 class="font-title text-5xl">404</h1>
    <p>Page not found</p>
  </div>
</Layout>
