---
import Street from '../assets/street_purp_sm.png';
---

<div class="relative w-full overflow-hidden">
  <div class="flex h-60">
    <div class="flex w-full min-w-64 justify-center">
      <!-- <Sprite class="z-[3]" type={Sprites.TROY} /> -->
      <!-- <Sprite class="z-[2] pb-4" type={getRouteSprite(pathname)} /> -->
    </div>
    <div
      class="absolute top-32 h-[104px] w-[300%] self-start bg-contain bg-repeat"
      style={{ backgroundImage: `url(${Street.src})` }}
    >
    </div>
  </div>
</div>
