---
interface Props {
  viewBox?: string;
  title: string;
  class?: string;
}

const { viewBox = '0 0 24 24', title, class: className, ...rest } = Astro.props;
---

<svg
  aria-labelledby={title}
  class:list={['h-full w-full', className]}
  role="img"
  viewBox={viewBox}
  xmlns="http://www.w3.org/2000/svg"
  {...rest}
>
  <title>{title}</title>
  <slot />
</svg>
